:root {
    --background-color: rgba(240, 165, 0, 0.9);
    --primary-text-color: #e6d5b8;
    --seccondary-text-color: #0a0807;
}

body {
    background-image: url(https://i.pinimg.com/originals/e8/07/57/e807579edb93300913645941f251c97d.jpg);
    background-position: center;
    background-size: cover;
    
    
    
    box-sizing: border-box;
    max-width: 800px;
    min-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 5% auto;
}

.header {
    width: 100%;
    margin: 5% auto;
    text-align: center;
    color: var(--primary-text-color);
}

.header h1,
.header p {
    margin: 5px;
    padding: 0;
}

#description {
    font-style: italic;
}

.form {
    align-items: center;
    background-color: var(--background-color);
    padding: 25px;
    color: var(--seccondary-text-color);
    font-size: 1em;

    border-radius: 5px;
}

.input-class {
    display: block;
    width: 98%;
    margin: 5px auto 20px auto;
    
    height: 2em;
    border-radius: 5px;
    outline: 0;
    border-color: lightgray;
}

.radio label,
.checkbox label{
    display: block;
    margin: 2.5px;
}


.submit {
    align-items: center;
    margin: 10px auto;
    height: 100%;
}

.submit button {
    height: 3em;
}

.submit button:hover{
    background-color: pink;
}